<!DOCTYPE html >
<html lang="en" 
      ng-app="classificator" >
<head >
	<title >Frontend</title >
	<link href="./bower_components/bootstrap/dist/css/bootstrap.min.css"
	      rel="stylesheet" >
	<link href="./bower_components/bootstrap-additions/dist/bootstrap-additions.min.css"
	      rel="stylesheet" >
	<link href="./bower_components/font-awesome/css/font-awesome.min.css"
	      rel="stylesheet" >
	<link href="main.css"
	      rel="stylesheet" >
</head >

<body >

    <div ng-controller="myController">
        
        <div class="row">
            <div class="col-md-12">
                <form class="form-inline well well-sm">
                    <span class="glyphicon glyphicon-search" ></span >
                    <div class="form-group" >
                            <input type="text"
                                   class="form-control"
                                   id="code"
                                   ng-model="search"
                                   placeholder="Search for question code..."
                                            />
                    </div >
                    <button type="submit" 
                                    class="btn btn-default btn-default"
                                    ng-click="create()">Create new Item</button>
                </form>
            </div>
        </div>
        
        <div class="col-md-6">
            <table class="table table-striped table-bordered table-hover">
                <tr>
                    <th>ID</th>
                    <th>Question Code</th>
                    <th>Text of resulting question</th>
                </tr>
                <tr ng-repeat="d in myData.list" ng-click="myData.currentItem = d">
                    <td>{{ d.id }}</td>
                    <td>{{ d.code_question }}</td>
                    <td>{{ d.text_question_result }}</td>
                </tr>
            </table>
        </div>
        
        <div class="col-md-6">
            
            <div class="row">
                <div class="col-md-12">
                    <form class="form-inline well well-sm">
                        <span><strong>Details &nbsp;</strong></span>
                        <div class="btn-group" 
                             role="group" 
                             aria-label="crud_functions">
                            <button type="submit" 
                                    class="btn btn-default btn-warning"
                                    ng-click="clear()">Clear Selection</button>
                            <button type="submit" 
                                    class="btn btn-default btn-primary" 
                                    ng-click="save()">Save Changes</button>
                            <button type="submit" 
                                    class="btn btn-default btn-danger" 
                                    ng-click="remove()">Remove from Database</button>
                        </div>
                    </form>
                </div>
            </div>
            
            <form>
              <div class="form-group">
                <label for="code_question">Question Code</label>
                <input type="text" 
                       class="form-control" 
                       id="code_question" 
                       ng-model="myData.currentItem.code_question">
              </div>

              <div class="form-group">
                <label for="text_question_result">Text of Resulting Question</label>
                <input type="text" 
                       class="form-control" 
                       id="text_question_result" 
                       ng-model="myData.currentItem.text_question_result">
              </div>
                
              <div class="form-group">
                <label for="code_answer_1">Code of first answer</label>
                <input type="text" 
                       class="form-control" 
                       id="code_answer_1" 
                       ng-model="myData.currentItem.code_answer_1">
              </div>
                
              <div class="form-group">
                <label for="text_answer_1">Text of first answer</label>
                <input type="text" 
                       class="form-control" 
                       id="text_answer_1" 
                       ng-model="myData.currentItem.text_answer_1">
              </div>
                
                <div class="form-group">
                <label for="code_answer_2">Code of second answer</label>
                <input type="text" 
                       class="form-control" 
                       id="code_answer_2" 
                       ng-model="myData.currentItem.code_answer_2">
              </div>
                
              <div class="form-group">
                <label for="text_answer_2">Text of second answer</label>
                <input type="text" 
                       class="form-control" 
                       id="text_answer_2" 
                       ng-model="myData.currentItem.text_answer_2">
              </div>
                
                <div class="form-group">
                <label for="code_answer_3">Code of third answer</label>
                <input type="text" 
                       class="form-control" 
                       id="code_answer_3" 
                       ng-model="myData.currentItem.code_answer_3">
              </div>
                
              <div class="form-group">
                <label for="text_answer_3">Text of third answer</label>
                <input type="text" 
                       class="form-control" 
                       id="text_answer_3" 
                       ng-model="myData.currentItem.text_answer_3">
              </div>
                
                <div class="form-group">
                <label for="code_answer_4">Code of fourth answer</label>
                <input type="text" 
                       class="form-control" 
                       id="code_answer_4" 
                       ng-model="myData.currentItem.code_answer_4">
              </div>
                
              <div class="form-group">
                <label for="text_answer_4">Text of fourth answer</label>
                <input type="text" 
                       class="form-control" 
                       id="text_answer_4" 
                       ng-model="myData.currentItem.text_answer_4">
              </div>
                
                <div class="form-group">
                <label for="code_answer_5">Code of fifth answer</label>
                <input type="text" 
                       class="form-control" 
                       id="code_answer_5" 
                       ng-model="myData.currentItem.code_answer_5">
              </div>
                
              <div class="form-group">
                <label for="text_answer_5">Text of fifth answer</label>
                <input type="text" 
                       class="form-control" 
                       id="text_answer_5" 
                       ng-model="myData.currentItem.text_answer_5">
              </div>
                
                <div class="form-group">
                <label for="help_text">Helper text</label>
                <input type="text" 
                       class="form-control" 
                       id="help_text" 
                       ng-model="myData.currentItem.help_text">
              </div>
                
              <div class="form-group">
                <label for="comment">Comments</label>
                <input type="text" 
                       class="form-control" 
                       id="comment" 
                       ng-model="myData.currentItem.comment">
              </div>

            </form>
        </div>
    </div>
    
    
<script src="./bower_components/angular/angular.min.js" ></script >
<script src="./bower_components/angular-resource/angular-resource.min.js" ></script>
<!-- script src="./bower_components/angular-ui/build/angular-ui.min.js" ></script -->
<!--script src="./bower_components/ui-router/release/angular-ui-router.min.js" ></script -->
<script src="./main.js" ></script >
</body >
</html >