<!DOCTYPE html>

<div class="col-md-6 col-md-offset-3" >
    <form class="form-horizontal">
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" 
                   class="form-control" 
                   id="id" 
                   ng-if="mode == 'edit'"
                   ng-model="db_data.current_question.id">

            <input type="text" 
                   class="form-control" 
                   id="id" 
                   ng-if="mode == 'create'"
                   placeholder="An ID will be created automatically"
                   disabled>
        </div>

        <div class="form-group">
            <label for="code">Question code</label>
            <input type="text" 
                   class="form-control" 
                   id="code" 
                   ng-model="db_data.current_question.code">
        </div>

        <div class="form-group">
            <label for="question">Question text</label>
            <input type="text" 
                   class="form-control" 
                   id="question" 
                   ng-model="db_data.current_question.question">
        </div>

        <div class="form-group">
            <label for="help">Helper text</label>
            <input type="text" 
                   class="form-control" 
                   id="help" 
                   ng-model="db_data.current_question.help">
        </div>

        <div class="form-group">
            <label for="comment">Comment</label>
            <input type="text" 
                   class="form-control" 
                   id="comment" 
                   ng-model="db_data.current_question.comment">
        </div>

        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group" ng-if="mode == 'edit'">
                <button class="btn btn-sucess"
                        type="submit"
                        ng-click="update_question()" >
                    Save
                </button >
            </div>
            <div class="btn-group" role="group" ng-if="mode == 'create'">
                <button class="btn btn-success"
                        type="submit"
                        ng-click="create_question()" >
                    Create
                </button >
            </div>
            <div class="btn-group" role="group" ng-if="mode == 'edit'">
                <button class="btn btn-danger"
                        type="submit"
                        ng-click="delete_question()" >
                    Delete
                </button >
            </div>
        </div>
    </form>
</div>

